.light{
    font-weight: 300 !important;
}

.regular{
    font-weight: 400 !important;
}

.medium{
    font-weight: 500 !important;
}

.semibold{
    font-weight: 600 !important;
}

.bold{
    font-weight: 700 !important;
}

.extra-bold{
    font-weight: 800 !important;
}

.black{
    font-weight: 900 !important;
}

.text-orange,
.text-orange a{
    color: #f68220 !important;
}

.text-gray,
.text-gray a{
    color: #808080 !important;
}